body {
	background-color: #0f0f0f;
	font-family: Helvetica;
	font-size: 18px;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
}

p {
	color: white;
}

a {
	text-decoration: none;
}

.heading {
	font-size: 36px;
}

.tiny {
	font-size: 12px;
}

.visible-link {
	text-decoration: underline; color: white;
}